.container {
    border: solid 1px #AFA0A0;
    border-radius: 5px;
    display: flex;
    /*justify-content: center;*/
    flex-direction: row;
    margin: 20px;
    padding: 10px;
}
.userInfo {
    align-content: space-between;
}
.button {
    border: solid 1px #AFA0A0;
    border-radius: 5px;
    text-decoration: none;
    color: #AFA0A0;
    padding: 10px;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.button:hover {
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
    color: #887A7A ;
}
